:root {
  --green: #9B009E;
  --red: #940e3f;
  --dark: #343A40;
  --grey: #9badbf;
  --black: #000000;
  --darkGreen: #1D9426;
  --altGreen: #65FF71;
  --altRed: #E0437C;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.navbar .icon {
  display: none;
}

.container{
  display: flex;
  list-style-type: none;
  justify-content: left;
  padding: 0.5rem;
}

.container li{
  margin: 0.5rem 1rem;
  text-decoration: none;
  line-height: 2.2rem;

}

.navLink{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: var(--red);
  padding: 0.7rem;
  border-radius: 0.3rem;
  line-height: 3.1rem;
}

.navLink:hover{
  background-color: var(--green);
  color: #ffffff;
}

.inputContainer{
  margin-right: 2.3rem;
  display: flex;
}

#search{
  padding: 0.47rem;
  padding-left: 2.1rem;
  border-color: var(--red);
  border-radius: 0.3rem;
}

#banner{
  display: flex;
  width: 100%;
  height: 30vh;
}

#slogan{
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
}

#sloganText h2{
  text-align: center;
  color: #ffffff;
}

.header{
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size: 4em;
}

.underHeader{
  font-family: 'Roboto Slab', serif;
  font-size: 1.45em;
}

#image{
  flex: 6;
  background-image: url("banner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#mobileText{
  display: none;
}

#info{
  text-align: center;
  padding: 2% 15%;
  color: var(--dark);
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

.resContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.restaurants{
  width: 20rem;
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--grey);
}

.restaurants svg{
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  width: 1.2rem;
  text-align: center;
}

.location:hover{
  stroke: var(--green);
  fill: var(--green);
}

.restaurants h4{
  margin-top: 1rem;
  float: left;
  color: var(--black);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
}

#triangle{
  width: 0;
  height: 0;
  border-bottom: 30vh solid var(--green);
  border-right: 10vw solid transparent;

}

.res1{
  list-style-type: none;
  color: var(--dark);
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
}

.fazerButton3 {
  margin-top: 1rem;
}

.inputIcon svg{
  position: absolute;
  fill: var(--red);
  stroke: var(--red);
  width: 1.4rem;
  text-align: center;
  margin-left: 0.4rem;
  margin-top: 0.45rem;
}

.addButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
  margin-right: 35rem;
}

.addButton svg{
  width: 1.5rem;
  margin-right: 0.5rem;
  stroke: var(--grey);
  fill: var(--grey);
}

.addButton svg:hover{
  stroke: var(--black);
  fill: var(--black);
}

.addButton svg:hover + .addRes{
  color: #000000;
}

.addButton svg:active{
  stroke: var(--green);
  fill: var(--green);
}

.addRes{
  list-style-type: none;
  text-decoration: none;
  color: var(--grey);
}

.buttons{
  margin: auto;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

button{
  padding: 0.5rem;
  margin: 0.5rem;
}

