/*div {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 2s ease-out 1s;
}*/

/*div:hover{
  width: 300px;
  height: 300px;
  background-color: orange;
}

.duckhunt-h1{
  background-color: green;
  width: 100%;
  margin: auto;
  text-align: center;
  transition: background-color 1s;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: greenyellow;
  z-index: 2;
  text-align: center;
}*/

*{
  box-sizing: border-box;
}

.stage{
  width: 800px;
  height: 481px;
  background: url('stage.png');
  background-size: contain;
  position: relative;
  margin: auto;
}

.dog{
  position: absolute;
  bottom: 50px;
  left: 10px;
  width: 120px;
  height: 110px;

  background-image: url('sprite.png');
  background-repeat: no-repeat;
  background-position: 0 0;

  /*animation-name: doggowalk;
  animation-duration: 0.5s;
  animation-timing-function: steps(4);
  animation-direction: reverse;
  animation-iteration-count: infinite;*/
}

.fromleft{
  left: 300px;
  animation: doggowalk 0.5s steps(4) 6,
  doggosniff 0.5s 3s steps(2) 6,
  doggoscare 1s 6s steps(1) 1,
  doggoescape 1s 7s steps(2) 1,
  doggocamp 0.5s 8s steps(2) infinite;
  transition: left 3s linear;
}

@keyframes doggowalk{
  from{background-position: 0 0;}
  to{background-position: -480px 0;}
}

@keyframes doggosniff{
  from{background-position: -360px 0;}
  to{background-position: -600px 0;}
}

@keyframes doggoscare{
  from {background-position: 0 -110px;}
  to {background-position: 0 -110px;}
}

@keyframes doggoescape{
  from {background-position: -120px -110px;}
  to {background-position: -360px -110px;}
}

@keyframes doggocamp{
  from{background-position: -360px -110px;}
  to{background-position: -600px -110px;}
}

.bird1{
  position: absolute;
  top: 50px;
  left: 10px;
  width: 80px;
  height: 70px;

  background-image: url('sprite.png');
  background-repeat: no-repeat;
  background-position: 0 -220px;
}

.birdattack{
  left: 251px;
  top: 303px;
  animation: birdfly 0.5s steps(3) 12,
  birdrise 0.5s 6s steps(3) 6,
  birdfly 0.5s 9s steps(3) infinite;
  transition: left 6s linear, top 6s linear;
}

.birdescape{
  left: 500px;
  top: 50px;
  transition: left 3s linear, top 3s linear;
}

.birdbacktonormal{
  left: 650px;
  transition: left 2s linear;
}

@keyframes birdfly{
  from{background-position: 0 -230px;}
  to{background-position: -225px -230px;}
}

@keyframes birdrise{
  from{background-position: 0 -310px;}
  to{background-position: -225px -310px;}
}

.bird2{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 80px;
  height: 70px;

  background-image: url('sprite.png');
  background-repeat: no-repeat;
  background-position: -250px -230px;
}

.bird2fly{
  left: 570px;
  animation: bird2fly 1s steps(3) infinite;
  transition: left 11s linear;
}

@keyframes bird2fly{
  from{background-position: -250px -230px;}
  to{background-position: -490px -230px;}
}
